/******** CSS DE ANDRÉS ********************************************/
.row{
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.articulo{
    position: relative;
    /*margin: auto;*/
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.fondo{
    /*position: absolute;*/
    top: 0;
    left: 0;
}

.tipoNoticia{
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 4px;
    background-color: #FFF;
    text-decoration-color: #000;
}

.artFooter{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    background-color: rgba(0,0,0,0.6);
    text-decoration-color: #000;
}

.columnaNoticia{
    padding-left: 31px;
    padding-right: 31px;
}

.contenedorDatos{
    display: inline-block;
}

.datosNoticia{
    margin-top: 10px;
    width: fit-content;
    background-color: #CDCDCD;
    border-radius: 100px;
    padding: 3px 20px;
    display: inline-block;
}

.seccion{
    background-color: #FF8800;
}

.titularNoticia{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

.author{
    font-style: oblique;
    font-size: 16px;
    font-weight: lighter;
    display: inline-block;
    margin-left: 4px;
}

.fechaArt{
    font-style: oblique;
    font-size: 16px;
    font-weight: lighter;
    display: inline-block;
    margin-left: 30px;
    margin-right: 4px;
}

.cuerpoNoticia{
    font-size: 20px;
    letter-spacing: 1px;
}