body{ 
	background-image: url('../img/fic.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-size: 16;
}
.container{
	background-color: #fff;
	padding-bottom: 2px;
}
.bloque-izq, .bloque-dcho {
	margin-top: 10px;
	height: 100% !important; 
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.bloque-izq{
	width: 766px;
	padding: 0 16px 0 16px;
	height: 100%;
	margin-bottom: auto;
}
.bloque-dcho{
	width: 324px;
	text-align: right;
	padding: 0 0 0 16px;
}
.logo{
	z-index: 3;
	display: block;
	margin: 0 auto;
}


/**************************************** MENU ******************************************/
.navbar {
	background-color: white;
	margin: 0;
	padding: .7rem 1rem;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
	padding: 5px 30px;
}
#navbar-main {
	margin:0 0 0 0 !important;
	width: 100%;
}
/*.nav-current-button {
	background-color: #98ea3e;
}*/

.nav-button:hover {
	background-color: rgba(0,0,0,0.2);
}

/* Style The Dropdown Button */
.dropbtn {
    /*background-color: #6D6D6D;*/
    color: #000;
    padding: 5px 30px;
   /* font-size: 16px;*/
    border: none;
    cursor: pointer;
   /* text-decoration: none;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative; display: inline-block;
   text-decoration: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    margin-top: 2px;
    text-decoration: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 176px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover { 
	background-color: rgba(0,0,0,.2);
	text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	/*margin-top: 5px;*/
	text-decoration: none;
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,.2);
    text-decoration: none;
    color: #000;
}

.nav-active{
	padding: 0;
	background-color: #B2A9A9;
}

.nav-active a { background-color: #B2A9A9;}

/********************* FIN MENU *********************************/
.fa {font-size: 40px;}
.fa-facebook-square{color: #51499E;}
.fa-twitter-square{color: #3A8DD2;}
.fa-instagram{color: black;}
.fa-youtube-square{color: #FF0000;}
.fa-twitch{color:#7000A1;}

.linksRedes{
	margin: auto auto 10px 0;
	width: calc(100% / 4);
	text-align: center;
	flex: 1;
}
.redes{
	width: 100%;
	display: flex;
}
.theadFico{
	background-color: #000;
	text-align: center;
	padding: 0;
	color: #FFF;
}

#footer{margin: 0; padding-left:5px; padding-top: 8px; font-size: 12px; }
.footerPpal{background-color: #504B4B; height: 30px !important; color: #FFF;}
.afreaks{
	text-decoration: none;
	color: #FFF;
}
.afreaks:hover{
	text-decoration-line: none;
	color: #30D13D;
}


.maxheight {max-height: 414px; width: 750px;}
.imgpatrocinio {max-height: 144px;}

.news{margin-top: inherit; margin-bottom: 5px;}
/*.new div{padding: 1%;}*/
.row{margin-top: 5px;}
.row1{margin:2px 0 0 0; padding: 0;}
.h3{align-content: center;}

hr{
	border:0;
	height: 25px;
	background-image: url(../img/type_3.png);
	background-repeat: no-repeat;
}
.table{text-align: center;}


/******** CSS DE BRAN **************************************************************************************/
.boton-cambiante{
	border-radius: 5px;
	float: right;
    position: absolute;
    right: 0;
    padding: 5px 30px;
}

#nav-inscribirse,
#nav-loguearse,
#nav-plazo-cerrado,
#nav-inscrito{
	float:right;
}

.boton-verde{
	background: #98ea3e;
}

.boton-negro{
	background: 000000;
}

.boton-gris{
	background: #c9c9c9;
}

/******** NO ESCRIBIR DE AQUI PARA BAJO SALVO PARA RESOLUCIONES MENORES DE 992px ***************************/
@media only screen and (max-width: 992px) {
	.content2 {
		display:flex;
		flex-direction:column;
	}
	.content {
		width: 100%;
	}
	.bloque-izq {
		flex: 1;
	}
	.bloque-izq, .bloque-dcho {
		width: 100%;
		margin: auto;
		text-align: center;
	}

	.barraResponsive{
		display: inline-block;
	}
	.
}