*{
	font-family: "Open Sans";
}
body{ 
	background-image: url('../img/fic.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-size: 16;
}
.container{
	background-color: #fff;
}
.bloque-izq, .bloque-dcho {
	margin-top: 10px;
	height: 100% !important; 
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.bloque-izq{
	width: 69%;
	padding: 0 16px 0 16px;
	height: 99%;
	margin-bottom: auto;
}
.bloque-dcho{
	width: 29%;
	text-align: right;
	padding: 0 0 0 16px;
}
.logo{
	z-index: 3;
	display: block;
	margin: 0 auto;
}
.navbar {
	background-color: white;
	margin: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
	padding: 5px 30px;
}
#navbar-main-first-half {
	margin:0 0 0 0 !important;
	width: 100%;
}
#navbar-main-second-half {
	margin:0 0 0 0 !important;
	width: 100%;
}
.nav-current-button {
	background-color: #98ea3e;
}

.nav-button:hover {
	background-color: rgba(0,0,0,0.2);
}

a{
	text-decoration: none;
}
a:active{
	color: inherit !important;
	text-decoration: inherit !important;
}

.icos-redes{
	
	width: 40px;
	height: 40px;

}
.links-redes{
	margin: auto auto 10px 0;
	width: 33%;
	text-align: center;
	flex: 1;
}
.redes{
	width: 100%;
	display: flex;
}
.thead-green{
	background-color: #000;
	text-align: center;
	color: #FFF;
}

#footer{padding-top: 1%; font-size: 12px; }
.footerPpal{background-color: #504B4B; height: 30px !important; color: #FFF;
	 
}

.maxheight {max-height: 414px;}
.imgpatrocinio {max-height: 144px;}

/******** CSS DE BRAN **************************************************************************************/
.boton-cambiante{
	border-radius: 5px;
	/*float: right;
    position: absolute;
    right: 0;*/
    padding:6px 30px;
}

#nav-inscribirse,
#nav-loguearse,
#nav-plazo-cerrado,
#nav-inscrito{
	float:right;
}

.boton-verde{
	background: #98ea3e;
}
.navbar-light .navbar-nav .nav-link.boton-negro{
	background: #000000;
	color: #ffffff;
}
.navbar-light .navbar-nav .nav-link.boton-negro:hover{
	background: #c9c9c9;
	color: #333;
}
.nav-link.nav-button.boton-negro.boton-cambiante{
	padding:2px 30px;
}
.nav-link.nav-button.boton-verde.boton-cambiante{
	padding:2px 30px;
}
/*.boton-negro{
	background: #000000;
	color: #ffffff;
}*/

.boton-gris{
	background: #c9c9c9;
}

#navbarSupportedContent1{
	float:left;
}
#navbarSupportedContent2{

	position: absolute;
	text-align: right !important;
	right: 0;
	display:table;
	top:12px;
}

#navbar-main-first-half{
	line-height:30px;
}
#navbar-main-second-half{
	text-align: right !important;
	line-height:30px;
}
.fa.fa-user-circle{
		font-size:33px;
}

/******** NO ESCRIBIR DE AQUI PARA BAJO SALVO PARA RESOLUCIONES MENORES DE 992px ***************************/
@media only screen and (max-width: 992px) {
	.content2 {
		display:flex;
		flex-direction:column;
	}
	.content {
		width: 100%;
	}
	.bloque-izq {
		flex: 1;
	}
	.bloque-izq, .bloque-dcho {
		width: 100%;
		margin: auto;
		text-align: center;
	}
}